<table style="margin-left: -3px;">
  <tr>
    <td style="vertical-align: middle;">
      <%= link_to_remote image_tag('buttons/add.png', :style => "border: 0;"), :update => 'add_record_div', :url => {:action => 'show_add_fields'}, :html => {:href => url_for(:action => 'new')} %>
    </td>
    <td style="vertical-align: middle;">
      <%= link_to_remote "Add New Record", :update => 'add_record_div', :url => {:action => 'show_add_fields'}, :html => {:href => url_for(:action => 'new')} %>
    </td>
  </tr>
</table>
