<% form_for @cross_sale_group do |f| %>
  <% if !f.error_messages.empty? %>
    <div style="margin-left: 200px;"><%= f.error_messages %></div>
  <% end %>

  <p><%= f.label :name, 'Name: ' %><%= f.text_field :name %></p>

  <%= f.submit button_text, :style => "margin-left: 100px;" %>
<% end %>
<script language="JavaScript"> document.forms[0].cross_sale_group_name.focus(); </script>
