<h1 style="margin-left: 200px;">Editing Cross-Sale Group</h1>
<%= render :partial => 'form', :locals => {:button_text => 'Update'} %>
<p style="margin-left: 200px;"><%= link_to 'Cancel Editing / Return to List', cross_sale_groups_path %></p>
