<h1 style="margin-left: 200px;">New Cross-Sale Group</h1>
<%= render :partial => 'form', :locals => {:button_text => 'Create'} %>
<p style="margin-left: 200px;"><%= link_to 'Cancel Inserting Cross-Sale Group / Return to List', cross_sale_groups_path %></p>
